body {
    text-align: center;
    float: center;
    font-family: "Lucida Console", Monaco, monospace;
    color: red;
    background-color: black;
}

.score-table {
    width: 80%;
    margin: 0px auto;
}

.score-row {
    background-color: #444;
    border-color: #888;
    border-width: 10px;
    padding: 25px;
    margin: 25px;
    border-style: solid;
    display: flex;
}

.team-name {
    width: 50%;
    float: left;
}

.score {
    width: 50%;
    float: left;
}

.change-scores-enter {
  opacity: 0.01;
}

.change-scores-enter.change-scores-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.change-scores-leave {
  opacity: 1;
}

.change-scores-leave.change-scores-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 40px;
}
